@import "colors.css";

window {
  font-family: Fira Code Medium;
  font-size: 16pt;
  color: @foreground; /* text */
  background-color: @blur_background;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: transparent;
  border-radius: 80px; /* Increased border radius for a more rounded look */
  margin: 10px;
  animation: gradient_f 10s ease-in infinite;
  transition:
    all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

button:focus {
  box-shadow: none;
  outline-style: none;
  background-size : 20%;
}

button:hover {
  background-color: @primary;
  box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
  color: transparent;
  background-size: 70%;
  margin: 5px;
  border-radius: 80px;
}

/* Adjust the size of the icon or content inside the button */
button span {
  font-size: 1.2em; /* Increase the font size */
}


#shutdown {
  background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
  background-image: image(url("./icons/power-hover.png"));
}

#reboot {
  background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
  background-image: image(url("./icons/restart-hover.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}
#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
}

#lock {
  background-image: image(url("./icons/lock.png"));
}
#lock:hover {
  background-image: image(url("./icons/lock-hover.png"));
}

#sleep {
  background-image: image(url("./icons/sleep.png"));
}
#sleep:hover {
  background-image: image(url("./icons/sleep-hover.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
  background-image: image(url("./icons/hibernate-hover.png"));
}
