 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #6FA0DF;
active-foreground: #F3FAFF;
normal-background: #1F2025;
normal-foreground: #F3FAFF;
urgent-background: #97BBEB;
urgent-foreground: #F3FAFF;

alternate-active-background: #3266B8;
alternate-active-foreground: #F3FAFF;
alternate-normal-background: #1F2025;
alternate-normal-foreground: #F3FAFF;
alternate-urgent-background: #1F2025;
alternate-urgent-foreground: #F3FAFF;

selected-active-background: #97BBEB;
selected-active-foreground: #F3FAFF;
selected-normal-background: #97BBEB;
selected-normal-foreground: #F3FAFF;
selected-urgent-background: #6FA0DF;
selected-urgent-foreground: #F3FAFF;

background-color: #1F2025;
background: rgba(0,0,0,0.7);
foreground: #F3FAFF;
border-color: #6FA0DF;

color0: #45464C;
color1: #0E182B;
color2: #254D8A;
color3: #254D8A;
color4: #5378A7;
color5: #728CB1;
color6: #A6B4BE;
color7: #E6EFF6;
color8: #A1A7AC;
color9: #13203A;
color10: #3266B8;
color11: #3266B8;
color12: #6FA0DF;
color13: #97BBEB;
color14: #DDF0FE;
color15: #E6EFF6;


}

